    .button-ana {
      z-index: 99;
      justify-content: center;
      align-items: center;
      width: auto;
      background: linear-gradient(45deg, #B388EB, #8093F1);
      border-radius: 20px;
      color: #FFF;
      font-size: 20px;
      letter-spacing: 1px;
      font-weight: 200;
    }

    .twocolumnsana {
    width: 50%;
    display: inline-block;
  }

    .threecolumnsana {
    width: 33%;
    display: inline-block;
  }

    /* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .twocolumnsana {
    width: 100%;
  }
}
